* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fafafa;
  height: 60px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.05);
}

nav {
  float: right;
}

li {
  display: inline-block;
  list-style: none;
}

a {
  color: rgba(0, 0, 0, 0.4);
  line-height: 60px;
  padding: 0px 30px;
  text-decoration: none;
}

.logo {
  height: 60px;
}

.logo > img {
  height: 30px;
  margin-top: 15px;
}

aside {
  width: 20%;
  top: 60px;
  bottom: 0;
  background-color: #555;
  float: left;
  position: fixed;
}

aside li {
  padding: 10px;
  display: block;
}

.active {
  background: green;
}

section {
  width: 80%;
  padding: 40px;
  float: right;
}

#content-wrap {
  margin-top: 60px;
}
