.gnb_top_wrap {
  background: #fff;
  width: 100%;
  height: 112px;
}
.gnb_top {
  width: 1240px;
  margin: 0 auto;
  padding: 16px 0 0 176px;
}
.gnb_top h1 {
  margin: 0 30px 0 0;
  display: inline-block;
  vertical-align: top;
}

.gnb_search {
  width: 450px;
  display: inline-block;
  padding-top: 12px;
}
.gnb_search .btn {
  background: #74b243;
  border: 1px solid #68a13a;
  height: 38px;
}
.gnb_search .btn span {
  color: #fff;
  font-size: 22px;
}
.gnb_search .form-control {
  border: 1px solid #ccc;
  background: #fbfbfb;
  height: 38px;
}
.gnb_search_word {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}
.gnb_search_word ul {
  display: inline-block;
  padding: 1px 0 0 6px;
  width: 381px;
}
.gnb_search_word li {
  display: inline-block;
  list-style: none;
  padding: 0;
  border-right: 1px solid #ddd;
  padding: 0 9px;
  font-size: 14px;
  line-height: 1;
}
.gnb_search_word li:last-child {
  border-right: 0;
}
.gnb_search_word li a {
  color: #000;
}
.gnb_search_btn {
  display: inline-block;
  vertical-align: top;
}

.gnb_search_btn a {
  float: left;
}

.gnb_right {
  display: inline-block;
  padding: 16px 0 0 50px;
  vertical-align: top;
  position: relative;
}
.gnb_right li {
  list-style: none;
  padding: 0 3px;
  display: inline-block;
}
.gnb_right li a {
  height: 30px;
}
.gnb_right li a img {
  width: 44px;
  border-radius: 50%;
}
.gnb_right .mem_layer {
  position: absolute;
  left: 22px;
  top: 51px;
  width: 182px;
  z-index: 1000000;
}
.gnb_right .mem_layer_m a {
  height: auto;
}
.gnb_right .write_layer {
  position: absolute;
  right: -4px;
  top: 50px;
  width: 372px;
}
.gnb_right .write_layer a {
  height: auto;
}

.gnb_nav ul {
  width: 1240px;
  margin: 0 auto;
  padding: 9px 30px 0;
  text-align: center;
}
.gnb_nav ul li {
  list-style: none;
  padding: 0;
  width: 1%;
  display: table-cell;
}
.gnb_nav ul li a {
  display: block;
  font-size: 18px;
  margin: 0 8px;
  color: #fff;
}
.gnb_nav ul li a.active {
  color: #ffff00;
}
.gnb_nav ul li a:hover {
  color: #ffff00;
}

.gnb_chef .gnb_top_wrap {
  height: 96px;
}
.gnb_chef .gnb_top {
  padding: 13px 0 0 20px;
}
.gnb_chef .gnb_top .gnb_right {
  float: right;
}
.gnb_chef .gnb_top h1 span {
  border-left: 1px solid #ccc;
  padding-left: 14px;
  margin-left: 14px;
  color: #666;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
}
.gnb_chef .gnb_top .gnb_right li.tel {
  font-size: 24px;
  color: #000;
  vertical-align: middle;
  padding-right: 12px;
  padding-top: 4px;
}
.gnb_chef .gnb_top .gnb_right li.tel img {
  padding-right: 4px;
}

.gnb_nav {
  background: url(//recipe1.ezmember.co.kr/img/gnb_bg.gif) left top repeat-x;
  height: 46px;
  width: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
}
.gnb_nav ul {
  width: 1240px;
  margin: 0 auto;
  padding: 9px 30px 0;
  text-align: center;
}
.gnb_nav ul li {
  list-style: none;
  padding: 0;
  width: 1%;
  display: table-cell;
}
.gnb_nav ul li a {
  display: block;
  font-size: 18px;
  margin: 0 8px;
  color: #fff;
}
.gnb_nav ul li a.active {
  color: #ffff00;
}
.gnb_nav ul li a:hover {
  color: #ffff00;
}

.gnb_chef .gnb_nav {
  background: #667180;
}
.gnb_chef .gnb_nav ul li:last-child {
  background: none;
}
.gnb_chef .gnb_nav ul li a {
  display: block;
  font-size: 18px;
  margin: 0 8px;
  color: #cdcdd1;
}
.gnb_chef .gnb_nav ul li a.active {
  color: #fff;
}
.gnb_chef .gnb_nav ul li a:hover {
  color: #fff;
}
